<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Add - Product</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Store</a>
          </li>
          <li>
            <a href="admin/add-item">Add Product</a>
          </li>
        </ul>
      </nav>
      <main>
        <form action="/admin/store" method="POST">
          <label>Product Name : </label>

          <input type="text" name="Product_Name" />
          <label>Quantity : </label>
          <input type="number" name="Qty" />
          <input type="Submit" value="Submit" />
        </form>
      </main>
    </header>
  </body>
</html>
