<main>
  <h2 style="text-align: center">Product Details Submitted.....</h2>
  <!-- <table>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
          </tr>
          <tr>
            <td>{req.body.Product_Name}</td>
            <td></td>
          </tr>
        </table> -->
</main>