<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Add - Product</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Store</a>
          </li>
          <li>
            <a href="admin/add-item">Add Product</a>
          </li>
        </ul>
      </nav>
      <main>
        <h2 style="text-align: center">Product Details Submitted.....</h2>
        <!-- <table>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
          </tr>
          <tr>
            <td>{req.body.Product_Name}</td>
            <td></td>
          </tr>
        </table> -->
      </main>
    </header>
  </body>
</html>
