<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload</title>
  </head>
  <body>
    <main>
      <h2>Sign Up</h2>
      <form action="/sign-up" enctype="multipart/form-data" method="POST">
        <label>Upload File</label>
        <input type="file" name="userFile" />
        <input type="submit" value="Upload" />
      </form>
    </main>
  </body>
</html>
